/* styles.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('fondo-de-libros.jpg');  /* Cambia 'ruta/de/tu-imagen.jpg' por la ruta de tu imagen */
    background-size: cover;    /* Asegura que la imagen ocupe toda la pantalla */
    background-position: center;  /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Hace que la imagen se mantenga fija al hacer scroll */
    margin: 0;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.google-login {
    margin-bottom: 20px;
}

.google-login a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f07816;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.google-login a:hover {
    background-color: #f27719;
}

.google-logo {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); 
}


.login-form label {
    display: block;
    margin-top: 10px;
    color: #555;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #555;
}
